// Nav
.nav {
    &__list {
        display: flex;
        align-items: center;
    }
    &__list-item {
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__list-link {
        color: var(--theme);
        font-size: 1.6rem;
        transition: var(--sd-trans);
        &:hover {
            color: var(--focus);
        }
    }
}

// Logo
.logo {
    color: var(--dark);
    font-size: 4rem;
    font-weight: 700;
    transition: var(--sd-trans);
    &:hover {
        color: var(--light);
    }
}

// Btn
.btn {
    background: orange;
    color: var(--white);
    width: fit-content;
    font-size: 1.6rem;
    padding: 1.2rem 1.4rem;
    border: 1px solid orange;
    border-radius: 4rem;
    text-transform: uppercase;
    transition: var(--sd-trans);
    &:hover {
        border: 1px solid rgb(216, 140, 0);
        background: rgb(216, 140, 0);
    }
}

.btn-trn {
    color: orange;
    width: fit-content;
    font-size: 1.6rem;
    padding: 1.2rem 1.4rem;
    border: 1px solid orange;
    border-radius: 4rem;
    text-transform: uppercase;
    transition: var(--sd-trans);
    &:hover {
        color: var(--white);
        border: 1px solid rgb(216, 140, 0);
        background: rgb(216, 140, 0);
    }
}

.buttons {
    display: flex;
    gap: 1.4rem;
}

// Input
.first-form {
    width: fit-content;
    margin: 10rem auto;
    .input {
        height: 6rem;
        padding: 0 2rem;
        font-size: 2.6rem;
        text-align: center;
        background: var(--v-opacity);
        border: none;
        outline: none;
        border: 2px solid var(--v-opacity);
        &:focus {
            border: 2px solid var(--focus);
            box-shadow: 0 0 5px var(--focus);
        }
    }
}

.second-form {
    width: fit-content;
    margin: 10rem auto;
    .input {
        height: 4rem;
        font-size: 1.5rem;
        padding-left: 3rem;
        background: orange;
        border: none;
        outline: none;
        border-radius: 5rem;
        border: 2px solid var(--v-opacity);
        &:focus {
            border: 2px solid var(--focus);
            box-shadow: 0 0 5px var(--focus);
        }
    }
}

// Article
.article {
    display: flex;
    flex-direction: column;
    width: 40rem;
    gap: 1rem;
    p {
        line-height: 1.4;
    }
}

// Card
.section-card {
    display: flex;
    align-items: center;
}

.card {
    margin: 5rem auto;
    position: relative;
    width: 28rem;
    height: 34rem;
    border-radius: 2rem;
    overflow: hidden;
}

.card .card-bg img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-out;
}

.card:hover .card-bg img {
    transform: scale(1.05);
}

.card .card-context {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    font-family: var(--font);
    transform: translateY(70%);
    transition: 0.2s ease-out;
}

.card:hover .card-context {
    transform: translateY(0);
}

.card .card-context .dark-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    filter: blur(20px);
    transition: 0.2s ease-out;
}

.card .card-context h3 {
    position: absolute;
    left: 2.6rem;
    color: #ffffff;
}

.card .card-context p {
    position: absolute;
    left: 2.6rem;
    top: 4rem;
    width: 82%;
    line-height: 1.6rem;
    word-spacing: -0.05rem;
    color: #f9f9f9;
    text-align: justify;
    opacity: 0;
    transition: 0.2s ease-out;
}

.card:hover .card-context p {
    opacity: 1;
}

.card .card-context button {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: #000;
    background: #feba1b;
    font-size: 1.6rem;
    padding: 0.8rem 1.4rem;
    border: none;
    border-radius: 0.5rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
    transition: 0.4s;
}

.card .card-context button:hover {
    background: #926b10;
}

.card .card-icons {
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0;
    transform: translateY(40px) scale(0.5);
    transform-origin: top;
    transition: 0.2s ease-out;
}

.card:hover .card-icons {
    opacity: 1;
    transform: translateY(0);
}

.card .card-icons li {
    cursor: pointer;
    color: #000000;
    background: #fffaee;
    font-size: 2rem;
    margin: 0 0 1rem;
    width: 3.6rem;
    height: 3.6rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 0.3rem;
    transition: 0.2s ease-out;
}

.card .card-icons li:hover {
    background: #feba1b;
    transform: translateX(-5px);
}

// Second Card
.second__card {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30rem;
    height: 44rem;
    padding: 2rem;
    overflow: hidden;
    border-radius: 1.6rem;
    box-shadow: -2rem 2rem 5rem #9d9d9d, 2rem -2rem 5rem #ffffff;
}

.second__card-img {
    height: 20rem;
    overflow: hidden;
    border-radius: 1rem;
    img {
        height: 100%;
        transition: var(--sd-trans);
        &:hover {
            scale: 1.05;
        }
    }
}

.second__card-context {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 1.4rem;
    line-height: 1.1;
    p {
        font-size: 1.3rem;
    }
}

.second__card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weight__icon {
    padding: 0.8rem 1rem;
    background: #cccccc50;
    border-radius: 1.4rem;
}

.second__card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second__card-btn {
    cursor: pointer;
    border: none;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    background: orange;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-family: $font;
    transition: var(--sd-trans);
    &:hover {
        background: rgb(255, 186, 58);
    }
}

// Third Card

.third__card {
    position: relative;
    width: 38rem;
    border-radius: 1rem;
    overflow: hidden;
    &-img {
        img {
            transition: var(--sd-trans);
            width: 100%;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    }

    &-icons {
        z-index: 3;
        display: flex;
        position: absolute;
        width: 100%;
        top: 2rem;
        font-size: 2.4rem;
        color: $white;
        opacity: 0;
        transition: var(--sd-trans);
        span {
            transition: var(--sd-trans);
            transform: scale(0.5);
            cursor: pointer;
        }
    }

    &-content {
        z-index: 3;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        bottom: 2rem;
        padding: 0 2rem;
        color: $white;
        font-size: 1.8rem;
        &-left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        &-right {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 1rem;
            &:hover {
                .icon-arrow-right {
                    animation: arrow-right 0.6s ease-in-out;
                }
            }
        }
    }
    &:hover {
        .third__card {
            &-icons {
                opacity: 1;
                span {
                    transform: scale(1);
                }
            }
            &-img {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.icon-heart {
    opacity: 0;
}

.icon-bookmark {
    opacity: 0;
}

.heart-icon {
    position: absolute;
    left: 2rem;
    span {
        position: absolute;
    }
    &:hover {
        .icon-heart-o {
            opacity: 0;
        }
        .icon-heart {
            opacity: 1;
        }
    }
}

.bookmark-icon {
    position: absolute;
    right: 4rem;
    span {
        position: absolute;
    }
    &:hover {
        .icon-bookmark-o {
            opacity: 0;
        }
        .icon-bookmark {
            opacity: 1;
        }
    }
}

.rate {
    font-size: 1.4rem;
    display: flex;
    gap: 1rem;
    ul {
        display: flex;
        gap: 0.4rem;
        span {
            color: rgb(218, 218, 25);
        }
    }
    span {
        color: #cccccc;
    }
}

@keyframes arrow-right {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(1rem, 0);
    }
}

// Slider
.swiper {
    width: 80rem;
    height: 40rem;
    &-slide {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-card {
        height: 70%;
        width: 70%;
        padding: 4rem;
        border-radius: 4rem;
        box-shadow: -2rem 2rem 5rem #9d9d9d, 2rem -2rem 5rem #ffffff;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 5rem;
    color: var(--theme);
}
