.header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 2rem;
    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav {
            ul {
                display: flex;
                align-items: center;
                gap: 30px;
            }
        }
    }
}
